@font-face {
  font-family: "AgaveNerdFontPropo";
  src: url("AgaveNerdFontPropo-Regular.ttf");
}
:root{
  --main-color: rgb(45, 164, 87);
  --upper-border-color:rgb(55, 200, 106);
  --lower-border-color:rgb(23, 85, 45);
}
*{
  font-family:"AgaveNerdFontPropo";
  font-size:15px;
  margin:0;
  box-sizing:border-box;
}
header{
  display: flex;
}
body{
  height:900px;
}
footer{
  height: 100px;
}
#searchbar{
  width:100%;
  display:flex;
  justify-content: center;
  gap:5px;
  margin-bottom: 50px;
  margin-top:5px;
}
.banditem{
  width:124px;
  padding:10px;
  border:2px solid black;
  border-radius: 20px;
  img{
    width:100px;
    height: 100px;
  }
  span{
    text-wrap: wrap;
  }
}
.albumitem{
  width:fit-content;
  padding:10px;
  border:2px solid black;
  border-radius: 20px;
  img{
    width:100px;
    height: 100px;
  }
}
.bandview{
  .bandinfo{
    width:100%;
    height:200px;
    display:flex;
    background: #000000;
    background: linear-gradient(90deg,rgba(0, 0, 0, 1) 43%, rgba(255, 252, 252, 1) 100%);  img{
    width:200px;
    height: 200px;
  }
    .info{
      color:white;
      padding:20px;
      .name{
        font-size: 50px;
      }
    }
  }
  .albums{
    display: flex;
    flex-direction: row;
    gap:10px;
    padding:10px;
  }
}
.songitem{
  user-select: none;
  width: 100%;
  height:50px;
  display: flex;
  border-top:1px solid black;
  .playSong{
    width: 100%;
    height:50px;
    display: flex;
    .image{
      width: 50px;
      height: 50px;
      /*font-size: 20px;*/
      display: flex;
      justify-content: center;
    }
    .info{
      .name{
        font-size: 20px;
      }
      display: flex;
      flex-direction: column;
    }
  }
  .addToQueue{
    margin-right: 20px;
    justify-self: end;
  }
}
.songitem:hover{
  background:grey;

}
#musicplayer{
  position: fixed;
  bottom:0;
  left:0;
  width:100%;
  height: 100px;
  background:white;
  display:inline-grid;
  grid-template-columns:1fr 2fr 1fr;
  align-content: center;
  .songInfo{
    justify-self: start;
  }
  .controls{
    width: 100%;
    justify-self: center;
    .audioLengthDiv {
      width: 100%;
      .audioLength {
        width: 100%;
      }
    }
  }
  .volumeControl{
    justify-self: end;
  }
}